
.topMenu{
    background-color: #567086 !important;
    padding: 1rem;
}
.productadminT{
    margin-right: 3rem !important;
}
h2{
    color: white !important;
}
.topMenuItems{
    color: white !important;
}
.mainContent{
    margin-top: 4rem !important;
    background-color: #567086 !important;

}